.login_box{
    width: 400px;
    height: 550px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login_form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#forgot_password {
    margin-top: 20px;
}

#login {
    margin-top: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
    padding: 0;
    background-position: center;
    background-color: pink;
}

.sign_up {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#sign_up_link {
    margin-left: 10px;
}