<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_acc_style.css') }}"/>
</head>
<body>
<div class="edit_acc_box">
    <form class="acc_form">
        <p>Username</p>
            <input type="text" name="">
        <p>Email</p>
            <input type="email" name="">
        <p>Current Password</p>
            <input type="text" name="">
        <p>New Password</p>
            <input type="password" name="">
        <p>Confirm New Password</p>
            <input type="password" name="">
    </form>
    <div class = "save_btn">
        <p>Save</p>
    </div>
</div>
</body>
</html>