{% extends "base.html" %}

{% block  links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/friend.css') }}"/>
{% endblock %}
{% block content %}

<div id="chat-container">
    <div style="color:white; font-size: 30px;">Chat with {{friend.username}}</div>
    <div id="chat" style="background-color:lightgray;width:auto;height:auto;"></div>
    <div id="send-bar">
        <form action="/" method="POST">
            <input type="text" id="send" placeholder="Type message..." name="send">
            <button type="submit" id="send_submit">Send</button>
        </form>
    </div>
</div>

<script>
    function show_chat(response) {
        $('#chat').empty()
        var i;
        for (i = 0; i < response.messages.length; i++) {
            let br = $("<br>")
            if (response.messages[i].sent_by["$oid"] === "{{user.id}}") {
                let message_from_you = $("<p>")
                    .attr("id", "message-from-you")
                    .attr("class", "message")
                    .text(response.messages[i].text + "");
                $('#chat').append(message_from_you);
            } else {
                let message_from_friend = $("<p>")
                    .attr("id", "message-from-friend")
                    .attr("class", "message")
                    .text(response.messages[i].text);
                $('#chat').append(message_from_friend);
            }
        }
    }
    function get_chat() {
        $.ajax({
            method: 'GET',
            url: '{{ url_for('get_chat', username=user.username) }}',
            data: {"user": "{{user.username}}","friend":"{{friend.username}}"},
            success: (response) => {
                chat = JSON.parse(response)
                show_chat(chat)
            }
        })
    }
    $("#send_submit").click((e) => {
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: '{{ url_for('post_message', username=user.username) }}',
            data: {'message': $(send).val(), 'sent_by': '{{user.username}}', 'chat': chat["_id"]["$oid"]},
            success: (response) => {
                get_chat();
            },
            datatype: 'json'
        })
    })
    get_chat()
</script>
{% endblock %}