{% extends "base.html" %}

{% block  links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/friends.css') }}"/>
{% endblock %}

{% block  content %}
<div id="friends-container">
    <div id="add-friend">
        <h4 style="color:white;">Add friend</h4>
        <form id="search-container">
            <input type="text" id="search" placeholder="Search.." name="search">
            <button type="submit" id="search_submit">Search</button>
        </form>
    </div>
    <div id="friends">
        <h3 style="color:white;">Friends</h3>
        <div id="friends-list"></div>
    </div>
</div>
<script>
    $("#search_submit").click((e) => {
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: '{{ url_for('post_friendship', username=current_user.username) }}',
            data: {'username': $(search).val()},
            success: (response) => {
                console.log(response);
            },
            datatype: 'json'
        })
    })
    function show_friends(friends) {
        $('#friends-list').empty()
        var i = 0;
        var len = friends.length;
        for (; i < len; ) {
          let friend = $("<p>")
            .attr("class","friend")
            .text(friends[i])
          $('#friends-list').append(friend);
        }
    }
    function get_friends() {
        $.ajax({
            method: 'GET',
            url: '{{ url_for('get_friends', username=user.username) }}',
            success: (response) => {
                show_friends(response)
            }
        })
    }
    get_friends()
</script>
{% endblock %}
