{% extends "base.html" %}

{% block  links %}
{% endblock %}

{% block  content %}
<div>
    <form id="search-container">
        <input type="text" id="search" placeholder="Search.." name="search">
        <button type="submit" id="search_submit">Search</button>
    </form>
</div>

{% for friend in friends %}
    <h4>{{friend}}</h4>
{% endfor %}

<script>
    $("#search_submit").click((e) => {
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: '{{ url_for('post_friendship', username=current_user.username) }}',
            data: {'username': $(search).val()},
            success: (response) => {
                console.log(response);
            },
            datatype: 'json'
        })
    })
</script>
{% endblock %}
