<ul id="menu">

     {% if current_user.is_authenticated %}

        <li>
            <a href="{{ url_for('profile') }}" class="menu__link" >
                Profile
            </a>
        </li>

         <li>
             <a href="{{ url_for('watchlist') }}" class="menu__link" >
                Watch List
            </a>
        </li>

         <li>
            <a href="{{ url_for('friends') }}" class="menu__link" >
                Friends
            </a>
        </li>

         {% for role in current_user.roles %}
             {% if role['name'] == "admin" %}
                <li>
                    <a href="{{ url_for('admin') }}" class="menu__link" >
                        Admin
                    </a>
                </li>
            {% endif %}
        {% endfor %}
         <li>
            <a href="{{ url_for('sign_out') }}" class="menu__link" >
                Sign out
            </a>
        </li>
        </ul>

     {% else %}

         {% if login_form is defined %}

        <div id="login_box">
            {% if errors is defined %}
                <p>{{ errors }}</p>
            {% endif %}
            <div id="signup-signin">
                <form action="/" method="POST">
                    <div id="signin">

                        {{ login_form.csrf_token }}

                        <div style="margin-right:5px;">{{ login_form.email() }}</div>
                        <div style="margin-left:5px;">{{ login_form.password() }}</div>
                        <div style="margin-left:5px">{{ login_form.submit() }}</div>
                    </div>
                    <div style="color:gray;">{{ login_form.remember() }} {{ login_form.remember.label }} </div>
                </form>
                <div id="signup">
                    <a href="{{url_for('sign_up')}}">Sign up</a>
                </div>
            </div>
        </div>

         {% endif %}
    {% endif %}
