 <div id="menu">
            <ul class="menu">
                <li class="menu-link">
                    <a href="{{ url_for('index')}}">
                        Main
                    </a>
                </li>

                <li class="menu-link">
                    <a href="{{ url_for('friends')}}">
                        Friends
                    </a>
                </li>

                <li class="menu-link" >
                     <a href="{{ url_for('watchlist')}}">
                        Watch List
                    </a>
                </li>

                <li class="menu-link">
                    <a href="{{ url_for('signin')}}">
                        Login/Signup
                    </a>
                </li>
            </ul>
    </div>