{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
{% endblock %}

{%  block content %}

<div id="parent">
    <div id="square">
        <div class="row" id="row1">
            <div class="column" id="row1-col1">
                <div id="profile-picture-container">
                    <img id="profile-picture"  src="{{url_for('get_profile_picture', username=current_user.username)}}" onerror="this.onerror=null;this.src='static/images/profile.png';" /><br>
                    <form action="{{ url_for('post_profile_picture') }}" method="POST" enctype="multipart/form-data">
                      <label for="profile_picture"></label>

                    <div type='button' class = 'btn btn-secondary' id="edit" style="margin-top: 10px;" onClick="function show_file_input(e) {
                        document.getElementById('file').style.visibility='visible';
                        document.getElementById('submit_profile_picture').style.visibility='visible';
                        document.getElementById('edit').style.visibility='hidden';

                    }
                    show_file_input()"> Edit </div>
                        <input type="file" name="file" id="file" style="visibility: hidden;" title="&nbsp;"><br/>
                      <input type="submit" id="submit_profile_picture" style="visibility: hidden;">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul><br>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>

            <div class="column" id="row1-col2">
                <h1 id ="name-h">{{current_user.username}}</h1>
                <h3>{{current_user.roles[0] if current_user.roles| length > 0}}</h3>

                <div id="user-info">
                    <h2 style="display: inline">First name</h2><p style="display: inline">{{current_user.first_name}}</p><br>
                    <h2 style="display: inline">Last name</h2><p style="display: inline">{{current_user.last_name}}</p><br>
                    <h2 style="display: inline">Username</h2><p style="display: inline">{{current_user.username}}</p><br>
                    <h2 style="display: inline">Email</h2><p style="display: inline">{{current_user.email}}</p><br>
                </div>
                <a id="delete_user" onclick="function confirm_delete() {
                    if (confirm('want do delete?')) {
                        document.getElementById('delete_user').href='{{ url_for('remove_user', username=current_user.username)}}';
                    }
                }
                confirm_delete()">(Remove account)</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
