{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
{% endblock %}

{%  block content %}
    <div class="square">
        <h2>Hello {{ current_user.username }}</h2> <br/>
        
        <div id="profile_picture">
            <form action="{{ url_for('upload_profile_picture') }}" method="POST" enctype="multipart/form-data">
                  <label for="profile_picture">Select a profile picture:</label>
                  <input type="file" id="profile_picture" name="file"><br>
                  <input type="submit">

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            </form>
             <img src="{{url_for('get_profile_picture', username=current_user.username)}}" alt="static/images/no_profile_picture.png">
        </div>
        
        <lu>
            <li>
                {{ current_user.email }}
            </li>
            <li>

            </li>
        </lu>
    </div>

{% endblock %}
