{% extends "base.html" %}

{%  block content %}

    {% include "menu.html" %}

    <h2>Random Movie</h2>

    <div id="div1">
    <button onclick="RandFunc()">Get Random Movie</button>
    <p id="IMDB_ID"></p>
    </div>

    <script>



        function RandFunc() {
            var str1 = "tt";
            var str2 = document.getElementById("IMDB_ID").innerHTML =
                Math.floor(Math.random()*3135393) + 1;

            var str3 = ('0000000' + str2).slice(-7)

            var final = str1.concat(str3);
            document.getElementById("IMDB_ID").innerHTML = final;

        }
    </script>

{% endblock %}
