{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}"/>
{% endblock %}

{% block content %}


<div class="login_box">
{#        {% with messages = get_flashed_messages( ) %}#}
{#          {% if get_flashed_messages() %}#}
{#            <ul class=flashes>#}
{#            {% for message in messages %}#}
{#              <li>{{ message }}</li>#}
{#            {% endfor %}#}
{#            </ul>#}
{#          {% endif %}#}
{#        {% endwith %}#}

    <form action="/signin" method="POST">

{#    TODO: Add validation    #}
            {{ form.csrf_token }}
            {{ form.email.label }} {{ form.email() }} <br />
            {{ form.password.label }} {{ form.password() }} <br />
            {{ form.remember.label }} {{ form.remember() }} <br />
            {{ form.submit() }}
    </form>

        <a href="" id="forgot_password">Forgot password?</a>

    <div class="sign_up">
        <a>Dont have an account?</a>
        <a href={{ url_for('signup')}}> Sign up here.</a>
    </div>
</div>

{% endblock %}