{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}"/>
{% endblock %}

{% block content %}

<div class="sign_up_box">
    <form class="sign_up_form" action="/signup" method="POST">
        {{ register_form.csrf_token }}

        {{ register_form.first_name.label }}
        {% if register_form.first_name.errors %}
            {% for error in register_form.first_name.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ register_form.first_name(size=1) }} <br />

        {{ register_form.last_name.label }}
        {% if register_form.last_name.errors %}
            {% for error in register_form.last_name.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ register_form.last_name(size=20) }} <br />

        {{ register_form.email.label }}

        {% if register_form.email.errors %}
            {% for error in register_form.email.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ register_form.email() }} <br />

        {{ register_form.username.label }}
         {% if register_form.username.errors %}
                {% for error in register_form.email.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        {{ register_form.username() }} <br />

        {{ register_form.password.label }}
         {% if register_form.password.errors %}
                {% for error in register_form.password.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}

        {{ register_form.password() }} <br />

        {{ register_form.confirm.label }}

         {% if register_form.confirm.errors %}
            {% for error in register_form.confirm.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

        {{ register_form.confirm() }} <br />

        <div class="create_account">
             {{ register_form.submit() }}
        </div>
    </form>
    <div class="sign-in">
        <a>Already have an account?</a>
        <a href="" id="sign-in__link"> Login here.</a>
    </div>
</div>

{% endblock %}
