{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}"/>
{% endblock %}

{% block content %}

<div class="sign_up_box">
    <form class="sign_up_form" action="/signup" method="POST">
        {{ form.csrf_token }}

        {{ form.first_name.label }}
        {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ form.first_name(size=1) }} <br />

        {{ form.last_name.label }}
        {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ form.last_name(size=20) }} <br />

        {{ form.email.label }}

        {% if form.email.errors %}
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ form.email() }} <br />

        {{ form.username.label }}
         {% if form.username.errors %}
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        {{ form.username() }} <br />

        {{ form.password.label }}
         {% if form.password.errors %}
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}

        {{ form.password() }} <br />


        {{ form.confirm.label }}

         {% if form.confirm.errors %}
            {% for error in form.confirm.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

        {{ form.confirm() }} <br />

        <div class="checkbox">
            <input type="checkbox" id="terms-agreement">
                <label for="terms-agreement">I agree to the MovieBuff Terms of service and Privacy policy.</label><br>
            <input type="checkbox" id="subscribe">
                <label for="subscribe">I wish to subscribe to MovieBuff newsletter.</label>
        </div>

        <div class="create_account">
             {{ form.submit() }}
        </div>
    </form>
    <div class="sign-in">
        <a>Already have an account?</a>
        <a href="" id="sign-in__link"> Login here.</a>
    </div>
</div>

{% endblock %}
