{% extends "base.html" %}

{% block  content %}
{% include "menu.html" %}
<div style="margin: 10px">
    <h5 style="display:inline;">Firstname: </h5><p style="display:inline;">{{user.first_name}}</p><br>
    <h5 style="display:inline;">Lastname: </h5><p style="display:inline;">{{user.last_name}}</p><br>
    <h5 style="display:inline;">Username: </h5><p style="display:inline;">{{user.username}}</p><br>
    <h5 style="display:inline;">Email: </h5><p style="display:inline;">{{user.email}}</p><br>
    <h5 style="display:inline;">Roles: </h5>
    <div id="user_role_info" style="display:inline;"></div>
</div>
<!--<p style="display:inline; margin-right:10px">{{role}}</p><button style="border-radius: 10px" onclick="remove_role_from_user("")">Remove admin privileges</button><br>-->

<!--<p style="display:inline; margin-right:10px">(no roles)</p><button style="border-radius: 10px" onclick="add_role_to_user()">Add admin privileges</button>-->

 <script>
     var username = "{{ user.username|safe }}"
     function get_role() {
            $.ajax({
                method: 'get',
                url: '{{ url_for('check_role') }}',
                data: {'username': JSON.stringify(username)},
                success: (response) => {
                           show_role_info(response)
                },
                datatype: 'json'
            })
        }
     function show_role_info(role_info) {
         $('#user_role_info').empty()
         let make_admin_button = "<p style=\"display:inline; margin-right:10px\">(no roles)</p><button id=" + "make_admin" + " onclick ='add_role_to_user()'>Add admin priviliges</button>";
         let remove_admin_button = "<p style=\"display:inline; margin-right:10px\">Admin</p><button id=" + "remove_admin"  + " onclick ='remove_role_from_user()'>Remove admin priviliges</button>";
         if (role_info === "admin") {
            $('#user_role_info').append(remove_admin_button);
         } else {
            $('#user_role_info').append(make_admin_button);
            }
     }s
     function add_role_to_user() {
         get_role()
          $.ajax({
                method: 'PUT',
                url: '{{ url_for('add_role') }}',
                data: {'username': JSON.stringify(username)},
                success: (response) => {
                           console.log(response)
                },
                datatype: 'json'
            })
         get_role()
     }
     function remove_role_from_user() {
         get_role()
         $.ajax({
                method: 'DELETE',
                url: '{{ url_for('delete_role') }}',
                data: {'username': JSON.stringify(username)},
                success: (response) => {
                           console.log(response)
                },
                datatype: 'json'
            })
         get_role()
     }
     get_role()
 </script>
{% endblock %}


