{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}
{% block  content %}

    <div id="result"></div>
    <div id="movie-content-container">
        <div id="movie-content"></div>
    </div>

<script>
    function remove_movie_from_watchlist(element) {
            $(element).each( function () {
                $(this).val( $(this).attr("movie") );
            });
              $.ajax({
                method: 'DELETE',
                url: '{{ url_for('delete_from_watchlist', username=current_user.username) }}',
                data: {'movie': $(element).val()},
                success: (response) => {
                    console.log(response)
                    go_back(element);
                    get_watchlist();
                },
                datatype: 'json'
            })
        }
    function get_watchlist() {
        $.ajax({
            method: 'GET',
            url: '{{ url_for('get_watchlist', username=current_user.username) }}',
            data: "hello",
            success: (response) => {
                show_result(response)
            },
            datatype: 'json'
        })
    }
    function show_result(response) {
            $('#result').empty();
            $('#result').hide();
            $('#result').fadeIn(300);

            $.each(response, (i, movie)=> {

                let title = ()=> {
                    title_max_length = 20;
                    return (movie['Title'].length > title_max_length) ?
                        $("<p>").attr("class", "title").text(movie['Title'].substring(0, 21) + "...") :
                        $("<p>").attr("class", "title").text(movie['Title']);
                };

                let movie_box = $("<div>")
                    .attr("class", "movie-box");

                let poster = $("<img>")
                    .attr("src", response[i]['Poster'])
                    .attr("onClick",'show_movie_content(this)')
                    .attr("id",response[i]['imdbID'])
                    .attr("class", "poster");

                let flex_break = $("<div>")
                    .attr("id", "break");

                $(movie_box).append(title, poster);

            i === 4 ? $('#result').append(movie_box, flex_break) : $('#result').append(movie_box);

            });
        }
    function show_movie_content(element) {
              $.ajax({
                  method: 'POST',
                  url: '{{ url_for('get_movie') }}',
                  data: {'imdb_id': element.id},
                  success: (response) => {
                        $('.poster').each(function(i) {
                                $(this).attr('onclick', '');
                            });
                      $('#movie-content').empty();
                      $('#movie-content-container').hide();
                      document.getElementById("result").style.opacity = 0.3;
                      $('#movie-content-container').fadeTo(300, 0.9, function() {
                      });

                      let remove =  $("<input>")
                        .attr("id", "add")
                        .attr("onClick", "remove_movie_from_watchlist(this)")
                        .attr("movie", JSON.stringify(response))
                        .attr("type", "image")
                        .attr("src", "static/images/remove_btn.png")

                      let back = $("<input>")
                        .attr("id", "back")
                        .attr("onClick", "go_back(this)")
                        .attr("class", "btn btn-secondary")
                        .attr('value', 'Back')

                      let title = $("<h1>")
                        .text(response["Title"]);

                      let runtime = $("<p>")
                        .text(response["Runtime"]);

                      let year = $("<p>")
                        .text(response["Year"]);

                      let genre = $("<p>")
                        .text(response["Genre"]);

                      let director = $("<p>")
                        .text(response["Director"]);

                      let actor = $("<p>")
                        .text(response["Actors"]);

                      let plot = $("<p>")
                        .text(response["Plot"]);

                      $("#movie-content").append(title, runtime, year, genre, director, actor, plot, remove, back);
                  },
                  datatype: 'json'
              });
        }
    function go_back(element) {
        $('#movie-content').empty();
        $('#movie-content-container').fadeOut(300);
        $('#result').fadeIn(300);

        $('.poster').each(function(i) {
            document.getElementById("result").style.opacity = 1;
            $(this).attr("onClick",'show_movie_content(this)');
            console.log(this);
        });
    }
    get_watchlist()
</script>
{% endblock %}