
#friends-container {
    margin: 40px;
}

#friends-list{
    display: flex;
    flex-direction: column;
}
.friend-link {
    color:lightgrey;
}

.friend-link:hover {
    text-decoration: none;
    color:white;
}