@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

.title{
     /*font-family: 'Netflix Sans';*/
     /*font-family: 'Oswald', sans-serif !important;*/
     font-size: 15px;
     color: white;
   }


#search_submit {
     position: absolute;
     top: -999px;
     left: -999px;
     width: 0;
     height: 0;
}

#search-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#search {
    width: 50%;
}

#result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    height: auto;
}

.movie-box {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    align-items: start;
    margin: 0.5%;
    color: white;
}

.poster {
    object-fit: cover;
    /*object-position: center;*/
}


.movie-box:hover {
    transform: scale(0.96);
    transition: transform 0.5s;
    cursor: pointer;
}

#movie-content-container {
    border-radius: 20px;
    display: none;
    width : 900px;
    height : 450px;
    background-color : black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -250px;
    border: solid white 2px;
    /*animation: anim 2s;*/
}

/*@keyframes anim {*/
/*    from { margin-left : 13%; }*/
/*    to   { margin-top: 18%; }*/
/*}*/


#movie-content {
    margin: 30px;
    color: whitesmoke;

}

.poster {
    height: 80%;
    width: 100%;

}

#add {
    height: 30px;
    width: 30px;
}

#back {
    height: 45px;
    width: 45px;
}

#break {
  flex-basis: 100%;
  height: 0;
}


@media screen and (max-width: 1200px) {
    .title {
       font-size: 13px;
    }

     #movie-content-container {

         width: 600px;
         height: 200px;
         margin-left: -300px;
         margin-top: -100px;
     }

   .movie-box {
       flex-basis: 30%;

   }
}



@media screen and (max-width: 900px) {
    .title {
       font-size: 0;
    }

     #movie-content-container {

         width: 600px;
         height: 200px;
         margin-left: -300px;
         margin-top: -100px;
     }

   .movie-box {
       flex-basis: 40%;
   }
}