

.square {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    margin-top: 40px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-picture-container {
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.user_info {
    margin-left: 100px;
}

#profile-picture {
    border: 3px solid white;
    object-fit: cover;
    /*object-position: center; det är relativt till parent?*/
    height: 250px;
    width: 250px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}