

.square {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    margin-top: 40px;


    background-color: green;
}

body {
    display: flex;
    flex-direction: column;
    background-color: red;
    align-items: center;
}

#profile-picture-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#profile-picture {
    height: 400px;
    width: 300px;
    background-image: "{{url_for('get_profile_picture', username=current_user.username)}}";
}