.sign_up_box{
    width: 400px;
    height: 550px;
    background: #111111;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sign_up_form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#create_account{
    margin-top: 20px;
    width: 140px;
    height: 40px;
}

.sign-in{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#sign-in__link{
    margin-left: 10px;
}

.content {
    margin-top: auto;
    margin-bottom: auto;
}
