#user-info-container {
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: solid gray 1px;
}

h1 {
    color: white;
}

h5 {
    color: gray;
    font-size: 30px;
}

p {
    font-size: 30px;
    color: gray;
}

#make_admin {
    display: inline;
    margin-right: 10px;
}

#remove_admin {
    display: inline;
    margin-right: 10px;
}